

.Texto a {
	font-family: "Liberation Sans";
	font-size: 18px;
	color: white;
  text-decoration: none;
	font-style: bold;
}
h5 {
	font-family: "Liberation Serif";
	color: white;
}
img {
	height: 360px;
	width: 460px;
	border-radius: 10px;
}
#Logo {
	margin-left: 35%;
	height: 200px;
}

#MenuTop {
	background-color: #2d2d2d;
	height: 86px;
}

#Menu {
	margin-left: 15%;
}

#Livraria {
	margin-top: 5%;
	width: 100%;
	height: 100px;
	background-color: #2d2d2d;
}

.Noticias {
	margin-top: 5%;
	width: 100%;
	height: 650px;
	border-top-color: #2d2d2d;
	border-bottom-color: #2d2d2d;
	border-right-color: white;
	border-left-color: white;
	border-style: solid;
	background-color: #2d2d2d;
}

.Texto {
	width: 90%;
	height: 100%;
	border-radius: 15px;
	background: none;
	margin-left: 1%;
}

ul ul{
	display: none;
}

ul li:hover ul {
	display: block;
}

ul {
	background: #2d2d2d;
	background: linear-gradient(top, #2d2d2d 0%, #2d2d2d 100%);
	background: -moz-linear-gradient(top, #2d2d2d 0%, #2d2d2d 100%);
	background: -webkit-linear-gradient(top, #2d2d2d 0%,#2d2d2d 100%);
	list-style: none;
	position: relative;
	display: inline-table;
}
ul:after {
	content: ""; clear: both; display: block;
}
ul li {
	float: left;
}
ul li:hover {
		background: #5f6975;
		background: linear-gradient(top, #757575 0%, #757575 40%);
		background: -moz-linear-gradient(top, #757575 0%, #757575 40%);
		background: -webkit-linear-gradient(top, #757575 0%,#757575 40%);
	}
ul li:hover a {
	color: #fff;
}

ul li a {
	display: block; padding: 25px 40px;
	color: #757575; text-decoration: none;
}

ul ul {
	background: #757575; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
ul ul li {
	float: none;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}
ul ul li a {
	padding: 15px 40px;
	color: #fff;
}
ul ul li a:hover {
	background: #2d2d2d;
}
